body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.watch {
  margin-top: 50px;
}

#time {
  font-size: 1400%;
  align: center;
  padding-top: 150px;
  color: white;
}

body
{
 background-color: black;
}
